.menu a:hover {
    background-color:rgb(62, 202, 253);  color: black;
    padding: 6px;
    text-align: center;
    }


.menu a {  
    color:rgb(255, 255, 255);
    text-align: center;  
    padding: 5px 7px;  
    text-decoration: none;  
    font-size: 17px;  
    display: block;
    }
    
.menu {
    background-color: rgb(32, 46, 116);  overflow: visible;  padding:4px;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    display: inline-block;
}


.borders2 {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px; 
    overflow: auto; 
    margin: 15px 0; 
}

.borders2 h2 {
    margin-top: 0;
}

body {
    background: linear-gradient(to bottom, #5e3fcd80, #3b59ef9d);
    margin: 0;
    min-height: 100vh;
}